/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }

    .mobile-header,
    .toggle-menu {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    /* Common */
    .navbar ul,
    .menu-checkbox {
        display: none;
    }

    .news-content,
    .featured-info,
    .service__desc,
    .service__info,
    .about-top,
    .about__desc,
    .hero__desc,
    .hero__heading,
    .hero__info {
        text-align: center;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    /* Header */
    .header-top {
        position: relative;
    }

    .toggle-menu {
        width: 24px;
        color: var(--second-primary-color);
    }

    .logo__link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mobile-header__menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: ease 0.5s;
    }

    .mobile-header__menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        background: var(--primary-color);
        z-index: 2;
        transform: translateX(-100%);
        transition: ease 0.5s;
    }

    .menu-checkbox:checked ~ .mobile-header__menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .mobile-header__menu-drawer {
        transform: translateX(0);
    }

    #mobile-nav {
        margin-top: 32px;
    }

    #mobile-nav .navbar__link {
        display: block;
        padding: 14px 0;
        color: #ccc;
    }

    .navbar__link--separate {
        border-top: 2px solid #ebebeb;
    }

    .hero {
        flex-direction: column;
    }

    .hero__heading {
        font-size: 5rem;
    }

    .hero__media {
        margin-top: 60px;
        width: 100%;
    }

    .hero__images {
        justify-content: space-between;
    }

    .hero__thumb-1,
    .hero__thumb-2 {
        width: 49%;
    }

    .hero__thumb-1 {
        height: 470px;
    }

    /* Service */
    .service__heading {
        font-size: 4.6rem;
    }

    .service__media {
        flex-direction: column-reverse;
        margin-top: 32px;
    }

    .service__images {
        margin-top: 32px;
    }

    .service__list {
        margin-bottom: 32px;
    }

    .service__item {
        width: 100%;
    }

    .service__desc.desc.lv2 {
        font-size: 1.5rem;
    }

    /* About */
    .about__list {
        grid-template-columns: 1fr 1fr;
        margin-top: 60px;
        gap: 20px;
    }

    .about-item__wrap {
        padding: 36px;
    }

    .about-item {
        width: 350px;
        margin-top: 0;
    }

    /* Featured */
    .featured-wrap {
        flex-direction: column-reverse;
    }

    .featured-media {
        width: 100%;
    }

    .featured-media {
        margin-top: 60px;
    }

    /* Member */
    .member__list {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .member__thumb {
        display: initial;
        height: 270px;
    }

    /* Install */
    .install {
        padding: 80px 0;
    }

    .install__phone {
        display: none;
    }

    .install__content {
        padding: 40px 0;
    }

    /* News */
    .news__row {
        flex-direction: column;
    }

    .news-list,
    .news-content {
        width: 100%;
    }

    .news__heading {
        max-width: 100%;
    }

    .news__control {
        justify-content: center;
    }

    .news-list {
        margin-top: 32px;
    }

    /* Appointment */
    .appointment {
        margin: 0 0 85px;
    }

    .appointment__wrap {
        padding: 80px 0;
    }

    /* Footer */
    .footer__row {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer__column:first-child,
    .footer__column:nth-child(4) {
        width: 100%;
    }

    .footer__column:nth-child(2),
    .footer__column:nth-child(3) {
        width: 45%;
    }

    .footer-form__desc {
        max-width: 100%;
    }

    .footer-form__input {
        width: 50%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    /* Common */
    .desc.lv1 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .service,
    .about,
    .member {
        padding-top: 30px;
    }

    /* Header */
    .header {
        padding-bottom: 30px;
    }

    .header-action {
        display: none;
    }

    .hero__heading {
        font-size: 3.3rem;
    }

    .hero__cta {
        display: flex;
        flex-direction: column;
    }

    .hero__cta a.btn {
        display: inline-block;
        width: 60%;
        margin: 0 auto;
    }

    .hero__phone {
        margin: 32px 0 0;
    }

    .hero__thumb-1 {
        width: 100%;
    }

    .hero__thumb-2 {
        display: none;
    }

    .service__heading {
        font-size: 3rem;
        font-weight: 500;
    }

    .service__item {
        padding: 14px;
        display: flex;
        align-items: center;
    }

    .service__title {
        font-weight: 500;
    }

    .service__desc.desc.lv2 {
        display: none;
    }

    .service__images,
    .service__img {
        width: 100%;
    }

    /* About */
    .about__list {
        grid-template-columns: 1fr;
    }

    .about-item {
        width: 100%;
    }

    .about-item__icon {
        width: 40px;
    }

    .about-item__title {
        font-size: 2.2rem;
    }

    /* Featured */
    .featured {
        padding: 80px 0;
    }

    .featured-media {
        height: auto;
    }

    .featured__img {
        width: 100%;
    }

    .featured__img-02 {
        display: none;
    }

    /* Member */
    .member {
        padding-bottom: 0;
    }

    .member-info {
        margin-top: 60px;
    }

    .member__list {
        grid-template-columns: 1fr;
    }

    /* Install */
    .install {
        padding-bottom: 0;
    }

    .install__wrap {
        padding: 0 40px;
    }

    /* News */
    .news-list {
        flex-direction: column;
        gap: 30px;
    }

    .news-item {
        width: 100%;
    }

    /* Appointment */
    .appointment__wrap {
        padding: 60px 20px;
    }
}
