* {
    box-sizing: border-box;
}

:root {
    --footer-font: "Open Sans", sans-serif;
    --primary-color: #10375c;
    --second-primary-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    padding: 0 20px;
    min-width: 205px;
    height: var(--height);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: var(--height);
    border-radius: 30px;
    border: 1px solid var(--second-primary-color);
    text-align: center;
    color: #fff;
    background: var(--second-primary-color);
}

.btn:hover {
    color: var(--second-primary-color);
    opacity: 0.9;
    cursor: pointer;
    background: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.desc {
    font-weight: 300;
    color: #c9d2da;
}

.desc.lv1 {
    font-size: 1.8rem;
    line-height: 1.67;
}

.desc.lv2 {
    font-size: 1.6rem;
    line-height: 1.75;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--primary-color);
}

.logo {
    position: relative;
    font-size: 1rem;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    color: #fff;
}

.logo__brand {
    font-size: 1.8em;
    font-weight: 400;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    padding-left: 0;
}

.header-action__log-in,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.header-action__log-in:hover,
.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    content: "";
    display: inline-block;
    left: -8px;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__log-in {
    margin-right: 7px;
}

.header-action__sign-up {
    --height: 44px;
    font-size: 1.6rem;
    min-width: 104px;
    border-radius: 22px;
}

.header-action__sign-up:hover {
    color: var(--second-primary-color);
    background: transparent;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

/* Hero left */
.hero__info {
    width: 54.4%;
}

.hero__heading {
    width: 517px;
    font-size: 7rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    width: 468px;
}

.hero__cta {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    color: #fff;
}

/* Hero right */
.hero__media {
    width: 45.6%;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__thumb {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__thumb-1 {
    position: relative;
    margin-right: -6px;
}

.hero__thumb-2 {
    width: 210px;
    height: 410px;
}
