* {
    box-sizing: border-box;
}

:root {
    --footer-font: "Open Sans", sans-serif;
    --primary-color: #10375c;
    --second-primary-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    padding: 0 20px;
    min-width: 205px;
    height: var(--height);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: var(--height);
    border-radius: 30px;
    border: 1px solid var(--second-primary-color);
    text-align: center;
    color: #fff;
    background: var(--second-primary-color);
    transition: 0.25s;
}

.btn:hover {
    color: var(--second-primary-color);
    opacity: 0.9;
    cursor: pointer;
    background: var(--primary-color);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.desc {
    font-weight: 300;
    color: #575f66;
}

.desc.lv1 {
    font-size: 1.8rem;
    line-height: 1.67;
}

.desc.lv2 {
    font-size: 1.6rem;
    line-height: 1.75;
}

.service__heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--primary-color);
}

.logo {
    position: relative;
    font-size: 1rem;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    color: #fff;
}

.logo__brand {
    font-size: 1.8em;
    font-weight: 400;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    padding-left: 0;
}

.header-action__log-in,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.header-action__log-in:hover,
.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    content: "";
    display: inline-block;
    left: -8px;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__log-in {
    margin-right: 7px;
}

.header-action__sign-up {
    --height: 44px;
    font-size: 1.6rem;
    min-width: 104px;
    border-radius: 22px;
}

.header-action__sign-up:hover {
    color: var(--second-primary-color);
    background: transparent;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

/* Hero left */
.hero__info {
    width: 54.4%;
}

.hero__heading {
    width: 517px;
    font-size: 7rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    width: 468px;
    color: #c9d2da;
}

.hero__cta {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    color: #fff;
}

/* Hero right */
.hero__media {
    width: 45.6%;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__thumb {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__thumb-1 {
    position: relative;
    margin-right: -6px;
}

.hero__thumb-2 {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
    background: #fff;
}

.service-top {
    text-align: center;
}

.service__desc {
    margin: 18px auto 0;
    width: 468px;
}

.service__media {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__images {
    width: 48.7%;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    margin-bottom: 55px;
}

/* Service item */
.service__item {
    padding: 22px;
    width: 470px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    transition: 0.25s;
}

.service__item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.service__item:hover .service__icon {
    color: #fff;
    background-color: var(--second-primary-color);
}

.service__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: #eff6fd;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service__body {
    margin-left: 20px;
}

.service__title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.26;
}

.service__desc.desc.lv2 {
    margin-top: 8px;
    width: auto;
}

/* About */
.about {
    padding: 100px 0;
    background: #f6fbff;
}

.about__desc {
    margin-top: 18px;
    width: 468px;
}

.about__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

/* About-item */
.about-item {
    width: 370px;
    margin-top: 86px;
    padding: 16px;
    border-radius: 4px;
    background: #eaf6ff;
    transition: 0.25s;
}

.about-item:hover {
    background: var(--second-primary-color);
    transform: translateY(-16px);
}

.about-item:hover .about-item__cta {
    font-weight: 400;
    color: var(--second-primary-color);
}

.about-item__wrap {
    padding: 43px;
    border-radius: 4px;
    background: #fff;
}

.about-item__title {
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: var(--primary-color);
}

.about-item__desc {
    margin-top: 28px;
    width: 254px;
}

.about-item__cta {
    margin-top: 18px;
}

/* Featured */
.featured {
    padding: 170px 0;
    background: #fff;
}

.featured-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Feature media */
.featured-media {
    position: relative;
    width: 48.7%;
    height: 491px;
}

.featured__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.featured__img-02 {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 332px;
}

/* Featured info */
.featured-info {
    width: 40%;
}

.featured__desc {
    margin-top: 18px;
}

.featured__btn {
    margin-top: 38px;
}
